* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(224, 98%, 58%)
}

h1 {
    text-align: center;
    color: hsl(255, 100%, 100%);
}

canvas {
    background-color: black;
    margin: auto;
    display: block;
}